* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
}

.container {
  width: 1000px;
  margin: 40px auto;
  border-radius: 10px;
  height: 100vh;
}

@media(max-width: 992px) {
  .container {
    width: 800px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media(max-width:576px) {
  .container {
    width: 300px;
  }
  .task {
    width: 150px;
  }
  #task-submit-btn {
    margin-top: 10px;
  }
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
}

#task-form {
  text-align: center;
}

#task-input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-family:Arial, Helvetica, sans-serif;
}

#task-submit-btn {
  height: 30px;
  width: 62px;
  border-radius: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(71, 188, 79);
  color: white;
}

#task-submit-btn:hover {
  background-color: rgb(62, 172, 70);
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin-bottom: 10px;
  font-size: 24px;
}

.task-content {
  width: 250px;
  margin: 4px;
  padding: 8px;
  border: none;
  background-color: white;
  border-radius: 3px;
  font-family:Arial, Helvetica, sans-serif;
}

.edit-delete-btns button {
  width: 50px;
  text-align: center;
  padding: 8px;
  margin: 4px;
}

.edit {
  color: white;
  background-color: rgb(183, 183, 183);
  border-radius: 3px;
  border: none;
  font-family:Arial, Helvetica, sans-serif;
}

.delete {
  color: white;
  background-color: red;
  border-radius: 3px;
  border: none;
  font-family:Arial, Helvetica, sans-serif;
}

.edit:hover {
  background-color: rgb(167, 166, 166);
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(207, 4, 4);
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.edit-delete-btns {
  display: flex;
}

@media(max-width: 992px) {
  .tasks {
    width: 500px;
  }
}

@media(max-width: 768px) {
  .tasks {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .tasks {
    width: 300px;
  }
  .task-content {
    width: 130px;
  }
}
